body {
      padding: 100px;
}

/* card 1 */
.card-1 {
      width: 320px;
      height: 220px;
      border: 1px solid black;
      border-radius: 10px;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
      background: url('https:picsum.photos/120/300');
      background-repeat: no-repeat;
      position: relative;
      transition: 0.5s;
}

.card-1:hover {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.card-1-circle {
      position: absolute;
      top:20px;
      left: 95px;
      width: 50px;
      height: 50px; 
      border-radius: 50px;
      background-color: rgb(0, 80, 0);
      border: 2px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      transition: 1s;
}

.card-1-inner {
      position: absolute;
      left: 160px;   
      top: 40px;   
      padding-right: 20px;
}

.card-1-inner-title {
      font-weight: bold;
      margin: 0px;
      padding-bottom: 10px;
      font-size: 18px;
}

.card-1-inner-description {
      margin: 0px;
      padding: 0px;
      font-size: 12px;
}

.card-1-list {
      list-style: none;
      display: flex;
      padding: 0px;
      justify-content: space-between;
      margin-top: 50px;
}

.card-1-list-circle {
      background-color: rgb(0, 80, 0);
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      font-size: 12px;
      transition: 0.5s;
}

.card-1-link {
      color: white;
      text-decoration: none;
}

.card-1:hover .card-1-circle{
      transform: translate(-60px) rotateZ(360deg);
}

.card-1-list-circle:hover {
      transform: scale(1.2);
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

/* card 2 */
.card-2 {
      height: 320px;
      width: 220px;
      perspective: 600px;
}

.card-2-inner {
      position: relative;
      width: 100%;
      height: 100%;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
      transform-style: preserve-3d;
      transform-origin: center right;
      transition: 1s;
      border-radius: 10px;
}

.card-2-inner:hover {
      transform: translate(-100%) rotateY(-180deg);
}

.card-2-inner-front {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      border: 1px solid hsl(0, 0%, 83%);
      border-radius: 10px;
      backface-visibility: hidden;
      background: linear-gradient(rgba(150, 120, 200, 0.5), rgba(150, 120, 200, 0.9)), url('https://picsum.photos/220/320');
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 20px;
      box-sizing: border-box;
}

.card-2-inner-front-title {
      font-weight: bold;
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 2px;
}

.card-2-inner-back {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      border: 1px solid hsl(0, 0%, 83%);
      border-radius: 10px;
      backface-visibility: hidden;
      background: linear-gradient(rgba(150, 120, 200, 0.5), rgba(150, 120, 200, 0.9)), url('https://picsum.photos/220/320');
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 0px;
      box-sizing: border-box;
      transform: rotateY(180deg);
      align-items: center;
}

.card-2-inner-back-social {
      display: flex;
      justify-content: space-around;
      align-items: center;
}

.social {
      width: 30px;
      height: 30px;
      margin: 0px 10px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: purple;
      border-radius: 30px;
      border: 3px solid purple;
      transition: 0.7s;
}

.social:hover {
      color: white;
      background: purple;
      border-color: white;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.card-2-inner-back-button {
      margin-top: 100px;
      width: 40px;
      height: 40px;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
      text-decoration: none;
      transition: 0.7s;
      color:purple;
}

.card-2-inner-back-button:hover {
      background-color: purple;
      color: white !important;
}

/* card 3 */
.card-3 {
      position: relative;
      height: 320px;
      width: 220px;
      border: 2px solid rgb(140, 0, 0);
      border-radius: 10px;
      transition: 1s;
      background: linear-gradient(rgba(255,255,255, 0.5), rgba(255,255,255, 0.5)), url('https://picsum.photos/220/320');
      box-shadow: 0px 0px 10px rgba(140, 0, 0, 0.9);
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
}

.card-3-title {
      margin: 0px;
      font-weight: 900;
      font-size: 24px;
      text-transform: uppercase;
      transition: 1s;
      letter-spacing: 1px;
}

.card-3:hover .card-3-title {
      letter-spacing: 2px;
}

.card-3-bottom {
      position: absolute;
      width: 100%;
      left: 0px;
      bottom: -110px;
      background: white;
      height: 100px;
      transition: 1s;
      border-top: 4px solid rgb(140, 0, 0);
      display: flex;
      justify-content: center;
      align-items: center;
}

.card-3:hover .card-3-bottom {
      bottom: 0px;
      
}

.card-3-button {
      text-decoration: none;
      color: white;
      width: 50px;
      height: 50px;
      background-color: rgb(140, 0, 0);
      display: flex;
      justify-content: center;
      align-items: center;
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.card-3-social {
      position: absolute;
      top: 20px;
      left: 0px;
      width: 40px;
      height: 180px;
      /* background-color: white; */
      text-decoration: none;
}

.card-3-box {
      width: 40px;
      height: 40px;
      background-color: red;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: white;
      background-color: rgb(140, 0, 0);
      margin-bottom: 12px;
      opacity: 0;
      transition: 0.8s;
}

.card-3:hover .card-3-box:nth-child(1) {
      opacity: 1;
}

.card-3:hover .card-3-box:nth-child(2) {
      opacity: 1;
      transition-delay: 0.2s;
}

.card-3:hover .card-3-box:nth-child(3) {
      opacity: 1;
      transition-delay: 0.4s;
}

.card-3:hover .card-3-box:nth-child(4) {
      opacity: 1;
      transition-delay: 0.8s;
}